* {
  padding: 0;
  margin: 0;
}


#topbar {
  background-color: #212121;
  
  margin-top:0px;
  }

  h1, h2, h3 , p, li, ul {
    color: #f2f2f2;
    font-family: Roboto,sans-serif;
  }

  .headerName {
    color: #f2f2f2;
    font-size: 1.25rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-family: Roboto,sans-serif;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3.3%;
    right: 93.6%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
 

.display-3 {
  color: #f2f2f2;
  font-size: 3.75rem!important;
  font-weight: 200;
  line-height: 3.75rem;
  letter-spacing: -.0083333333em!important;
}

.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

.primary-interest{
  color: #8882db;
}
.secondary-interest {
  color: #6cc297;
}

.v-card {
  border-width: thin;
    display: block;
    max-width: 100%;
    outline: none;
    text-decoration: none;
    -webkit-transition-property: opacity,-webkit-box-shadow;
    transition-property: opacity,-webkit-box-shadow;
    transition-property: box-shadow,opacity;
    transition-property: box-shadow,opacity,-webkit-box-shadow;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
}
.v-card_text {
  color: rgba(240, 240, 240, 0.616);
  padding: 16px;
  width: 100%;
  font-size: .975rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: .0071428571em;
}
.v-card_text p, span{
  color: rgba(240, 240, 240, 0.616);
  margin-bottom: 2px;
  width: 100%;
  font-size: .975rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: .0071428571em;
}
  
.theme--dark.v-card {
  background-color: #1e1e1e;
  color: #fff;
}


.skills .skillset .level-bar-inner {
  height: 16px;
  background: #66cb8c;
}

.item {
  margin-bottom:4px;
}

